.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html,
body {

  height: 100%;
  margin: 0;
  padding: 0;

}

a {

  color: rgb(255, 90, 90);
  padding: 3px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {

  border: none;
}


.leaflet-control-zoom-out,
.leaflet-control-zoom-in {

  height: 25px !important;
  width: 25px !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #282c34 !important;
  color: rgb(255, 90, 90) !important;
  font: 18px !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: #3c4049 !important;
}


#light {
  background-color: rgb(231, 228, 228);
}

#dark {
  background-color: #282c34;
}

#light .navigation, #light .footer {
  background-color: rgb(231, 228, 228);

}

#light .menu-item, #light .map-layer-item, #light #hide-button {

  background-color: rgb(255, 255, 255);

}

#light .main-menu, #light .map-layer-menu {
  background-color: rgb(231, 228, 228);
  opacity: 0.9;
}

#dark .navigation, #dark .footer {
  background-color: #282c34;

}


#theme-button {

  background-color: transparent;
  border: none;
  padding: none;
  margin: 10px;
}

#theme-button:hover {

  transform: translateY(-2px);
  transition: 1s ease-out;
}

.navigation {

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  color: rgb(255, 90, 90);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px;
  justify-content: space-between;

}

.nav-left {

  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.nav-right {

  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.nav-item {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;

}

#map {
  flex: 1;
  max-width: 100%;
  margin-top: 55px;
  background-color: #000000b7;
  position: relative;
  z-index: 1;
}

.main-menu {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  flex-direction: row;
  top: 86%;
  right: 35%;
  color: rgb(255, 90, 90);
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(40, 44, 52, 0.7);

}

.map-layer-menu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  background-color: rgba(40, 44, 52, 0.6);
  color: rgb(255, 90, 90);
  top: 15%;
  right: 90%;
  padding: 10px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;

}

.map-layer-item {
  margin: 10px;
  color: rgb(255, 90, 90);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(40, 44, 52, 0.6);
  border: none;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
}

.map-layer-title {

  padding: 10px;

}


.hidden {
  display: none;
}

.menu-item {
  margin: 10px;
  background-color: rgba(40, 44, 52, 0.6);
  border-radius: 5px;
  height: 60px;

}

.menu-item:hover {
  background-color: rgba(40, 44, 52, 0.7);
  cursor: pointer;
}


#hide-button {

  display: flex;
  height: 35px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  border: none;
  color: rgb(255, 90, 90);
  font-size: 18px;
  border-radius: 5px;
  background-color: rgba(40, 44, 52);
  position: absolute;
  margin: 10px;
  right: 0;
  position: absolute;
  top: 85%;
  padding: 10px;
  z-index: 10;

}

#add-marker {
  background-color: transparent;
  border: none;
}

.footer {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 10;
  color: rgb(255, 90, 90);
}