.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html,
body {

  height: 100%;
  margin: 0;
  padding: 0;

}

.Box {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

a {

  color: rgb(255, 90, 90);
  padding: 3px;
}

button:hover {

  text-decoration:underline;
}


#light {
  background-color: rgb(231, 228, 228);
}

#dark {
  background-color: #282c34;
}

#light .navigation  {
  background-color: rgb(255, 255, 255);

}

#light .menu-item,
#light .map-layer-item,
#light .Portal,
#light .accountsPortal,
#light #hide-button
#light .nav-item,
#light #search-bar,
#light .MuiInputBase-root
 {

  background-color: rgb(255, 255, 255);

}

#light .main-menu,
#light .map-layer-menu {
  background-color: rgb(231, 228, 228);
  opacity: 0.9;
}

#dark .navigation, 
#dark .accountsPortal,
#dark .nav-item
{
  background-color: #282c34;

}


#dark .map-layer-item{

background-color: #202024;

}

#theme-button {

  background-color: transparent;
  border: none;
  padding: none;
  height: 50px;
  width: 20px;
  margin: 10px;
}

#theme-button:hover {

  transform: translateY(-2px);
  transition: 1s ease-out;
  cursor: pointer;
}

.title {

  display: flex;
  background-color: rgb(20, 20, 19);
  padding: 6px;
  box-shadow: rgb(255, 90, 90) 2px 1px 2px 0px;
  border-radius: 15px;
  font-size: 24px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;

}

.title:hover {

  box-shadow: rgb(255, 90, 90) 2px 1px 2px 0px;
  transform: translateY(-1.5px);
  transition: transform 330ms ease-in-out;
}

.navigation {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  color: rgb(255, 90, 90);
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.nav-left {

  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}

.nav-right {

  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.nav-item {

  display: flex;
  width:fit-content;
  height:fit-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 5px;
  padding: 10px;

}

#search-button {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(29, 28, 27);
  margin: 10 auto;
  padding: 5px;
  border-radius: 15%;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.Portal {

  display: flex;
  flex-direction: column;
  height:fit-content;
  width:500px;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 90, 90, 1) 5%,     
    rgb(211, 55, 55) 20%,    
    rgb(190, 38, 38) 40%,    
    rgb(197, 80, 80) 60%     
  );  border-image-slice: 1;
}

.accountsPortal{

  display: flex;
  max-height: fit-content;
  flex-direction:row;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  z-index: 10;
  top: 15%;
  left: 35%;
  font-family: 'Nunito', sans-serif;
  background-color: #282c34;
  color: rgb(255, 90, 90);
  border-radius: 15px;
  position: absolute;
  box-sizing: border-box;
}

.accountsTitle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 5px;
}

h2 {
  font: 12px;
  margin: 12px;
}

.Portal-description{
  font: 12px;
  padding: 20px;
  margin: 0 auto;
}


.PortalButtons {
  display:flex;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  align-items: flex-start; 
  justify-content:flex-start;

}

.accountsButton {
  display: flex !important;
  height: 50px !important;
  width: 80px !important;
  color: white !important;
  font-family: 'Nunito', sans-serif !important;
  padding: 5px !important;
  margin: 0 auto !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px; 
}

.accountsButton:hover {
  transition: color 0.6s ease !important; 
  color:rgb(255, 90, 90) !important;
  border: 1px solid;
  transition: color 0.3s ease; 

}

.accountsLogin, .accountsSignup {

  flex:1;
  flex-direction: row !important;
  height: 44px !important;
  width: 250px !important;
  justify-content: center !important;
  font-family: 'Nunito', sans-serif !important;
  padding: 2px !important;
  margin: 0 auto !important;

}


.input-group {
display: flex;
align-items:center;
margin: 5px;
}

.input-icon {
  margin-left: 80px;
}


#search-paper {
  display: flex;
  height: fit-content;
  padding: 5px;
  margin: 0 auto;
  justify-content: center;
  color: rgb(255, 90, 90);

}


.map {
  flex: 1;
  max-width: 100%;
  max-height: 980px;
  margin-top: 55px;
  position: fixed;
  z-index: 1;
}

.mapboxgl-ctrl-group {

  border-radius: 50% !important;
}

.mapboxgl-ctrl-geolocate {
  border: 2px solid rgb(255, 90, 90) !important; 
  border-radius: 50% !important; 
  width: 50px !important; 
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important; 
}

.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
  background-size: contain !important;
  width: 100% !important;
  height: 100% !important;
  color: rgb(255, 90, 90) !important;
}

.mapboxgl-ctrl-geolocate:hover {
  border-color: rgb(255, 90, 90) !important; 
  cursor: pointer !important;
}

.main-menu {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  flex-direction: row;
  top: 85%;
  right: 35%;
  color: rgb(255, 90, 90);
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(40, 44, 52, 0.7);

}

.map-layer-menu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  background-color: rgba(40, 44, 52);
  color: rgb(255, 90, 90);
  top: 15%;
  right: 90.5%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  position: absolute;

}

.map-layer-item {
  display:flex;
  color: rgb(255, 90, 90);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin: 10px;
  padding: 10px;
}

.map-layer-item:hover {

background-color: #18191a;
transition: 0.3s;
cursor: pointer;
text-decoration: none;

}


.map-layer-title {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;

}

.Photo-menu {

  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 800px;
  padding: 10px;
  z-index: 10;
  top: 10%;
  left: 30%;
  font-family: 'Nunito', sans-serif;
  background-color: #282c34;
  opacity: 0.9;
  color: rgb(255, 90, 90);
  border-radius: 15px;
  position: absolute;
  box-sizing: border-box;

}

.Photos {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.nav-container {

  display: flex;
  flex: 0;
  height: auto;
  width: auto;
  padding: 10px;

}

#Photo-Exit, #accounts-Exit {

  display: flex;
  flex-direction: row !important;
  margin: 0 auto !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  height: fit-content !important;
  width: 50px !important;
  color: rgb(255, 90, 90) !important;
  border-radius: 15px !important;
  padding: 5px;
  font-family: 'Nunito', sans-serif !important;
  position:absolute !important;
  left: 450px;

}

#Photo-Exit:hover, #accounts-Exit:hover {

  cursor:pointer;
}


.Photo-nav {

  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
  height: fit-content;
  width: 500px;
  color: rgb(255, 90, 90);
  font-family: 'Nunito', sans-serif;
  background-color: black;

}

#showPhotos:hover, #showPortal:hover {
  cursor: pointer;
  text-decoration:underline;
}


.photo-card {

  display: grid;
  padding: 10px;
  margin: 10px;
  height: 120px;
  width: 300px;
  background-color: black;
  border-radius: 10px;

}

.hidden {
  display: none;
}

.menu-item {
  margin: 10px;
  background-color: rgba(40, 44, 52, 0.6);
  border-radius: 5px;
  height: 60px;

}

.menu-item:hover {
  background-color: rgba(40, 44, 52, 0.7);
  cursor: pointer;
}

.marker {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 'map-marker-512.png';

}

#hide-button {

  display: flex;
  height: 35px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  border: none;
  color: rgb(255, 90, 90);
  font-size: 18px;
  border-radius: 5px;
  background-color: rgba(40, 44, 52);
  position: absolute;
  margin: 10px;
  right: 0;
  position: absolute;
  top: 85%;
  padding: 10px;
  z-index: 10;

}

#add-marker {
  background-color: transparent;
  border: none;
}

.footer {

  display: flex;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: rgb(255, 90, 90);
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  padding: 5px;
  margin: 0 auto;

}